@media (max-width: 680px) {
  .app {
    grid-template-columns: 0.1fr 1fr 0.1fr !important;
    grid-template-rows: 0.1fr 1fr 0.3fr !important;
  }
  .app-connected-indicator::after,
  .app-disconnected-indicator::after {
    display: none !important;
  }
}
