@import "./animations.css";
@import "./App-mobile.css";

.html {
  background-color: #eaeaea;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";
}

.app-header {
  display: flex;
  text-align: center;
}

.app-status {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.app-connected-indicator {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 20px;
  background-color: green;
}

.app-connected-indicator::after {
  display: block;
  content: "connected";
  position: relative;
  left: 25px;
  line-height: 20px;
  color: green;
}

.app-disconnected-indicator {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 20px;
  background-color: red;
}

.app-disconnected-indicator::after {
  display: block;
  content: "disconnected";
  position: relative;
  left: 25px;
  line-height: 20px;
  color: red;
}

.app-main {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-connection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 150px;
  background-color: #eaeaea;
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 1);
  padding: 1em;
  border-radius: 5px;
}

.grid-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fade-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.grid {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #eaeaea;
  border: none;
  outline: none;
  padding: 2px;
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 1);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: 30px;
  max-height: 60vh;
  min-height: 200px;
  max-width: 720px;
}

.grid-play-zone {
  width: 100%;
  height: 10vh;
  background: transparent;
  overflow: hidden;
  cursor: none;
  max-width: 720px;
}

.grid-row-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.position-container {
  margin: 0.2em 0;
  max-width: 90px;
  max-height: 90px;
}

.drop-it {
  animation: bounce-in-top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.app-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
